@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}

/* Reset code */

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h5,
h6 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}


/* video side circle image */

.Video-circle-img {
    width: 450px;
    height: 650px;
    position: absolute;
    top: 885px;
}

/* Right Background */

.rightbg{
    width: 550px;
    height: 650px;
    position: absolute;
    top: 80px;
    left: 799px;
}

@media only screen and (max-width: 767px) {
    .rightbg{
        display: none;
    }
}
